<section class="title">
    <h1>{{data.eventName}}</h1>
    <div class="join" (click)="joinEvent()">
        <p>Join</p>
    </div>
</section>

<section class="stats">
    <div class="stats-columns">
        <div class="stat num-of-people">
            <p>People Signed Up</p>
            <h2>{{data.registered}}</h2>
        </div>
        <div class="stat date-time">
            <p>Date and Time</p>
            <h2>{{data.eventDate}}</h2>
            <h3>{{data.startTime}} - {{data.endTime}}</h3>
        </div>
        <div class="stat points">
            <p>Total Points</p>
            <h2>{{data.eventPoints}}</h2>
        </div>
    </div>
    <div class="description">
        <p class="header">Description</p>
        <p>{{data.eventDescription}}</p>
    </div>
    <div class="location">
        <p class="header">Location</p>
        <p>{{data.eventLocation}}</p>
        <agm-map [latitude]="lat" [longitude]="long" [zoom]="15">
            <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
        </agm-map>
    </div>
</section>