<section class="title-container">
    <h1>Create New Community Service Event</h1>
</section>

<div class="create-event-container">
    <form action="">
        <div class="row">
            <div class="col-25">
                <label for="title">Event Title</label>
            </div>
            <div class="col-75">
                <input #eventTitle type="text" id="title" name="title" placeholder="Event Title">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="start-time">Event Start Time</label>
            </div>
            <div class="col-75">
                <input #startTime type="time" id="start-time" name="start-time">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="end-time">Event End Time</label>
            </div>
            <div class="col-75">
                <input #endTime type="time" id="end-time" name="end=time">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="date">Event Date</label>
            </div>
            <div class="col-75">
                <input #date type="date" id="date" name="date">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="location">Event Location</label>
            </div>
            <div class="col-75 form-group">
                <!--<input type="text" id="location" name="location" placeholder="Event Location">-->
                <input ([ngModel])="location" id="location" name="location" placeholder="Event Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl"/>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="description">Event Description</label>
            </div>
            <div class="col-75">
                <textarea #description id="description" name="description" placeholder="Event Description" style="height:200px"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" (click)="submit()" value="Submit">
        </div>
    </form>
</div>