<body>
    <h1>Rewards</h1>

    <p>Track your rewards and view available coupons</p>
    <main>
        <h2>My rewards</h2>
        <div class="mdc-layout-grid__cell">
            <div class="mdc-card shrine-product-card">
              <section class="mdc-card__primary">
                <span class="mdc-card__title shrine-product-card__price">$20</span>
              </section>
              <img class="shrine-product-card__image" width="240" height="240" alt="Sunglasses" src="assets/sunnies.png">
            </div>
            <div class="mdc-card shrine-product-card">
                <section class="mdc-card__primary">
                  <span class="mdc-card__title shrine-product-card__price">$20</span>
                </section>
                <img class="shrine-product-card__image" width="240" height="240" alt="Sunglasses" src="assets/sunnies.png">
              </div>
          </div>
          
    </main>
</body>

