<section class="title-container">
    <div class="rewards-title">
        <h1>Rewards</h1>
        <h3>Track your rewards and view available coupons.</h3>
    </div>
    <div class="point_disp">
        <h3>Available points: {{user_points}}</h3>
    </div>
</section>
<h2 class="h2">My Rewards</h2>
<section class="feed-container">
    <div class="card" *ngFor="let card of my_cards">
        <div class="container">
            <div class="points">
                <span>{{card.points}} pts.</span>
            </div>
            <h3>{{card.business}}</h3>
            <p>{{card.description}}</p>
            <p>${{card.value}} value</p>
        </div>
    </div>
</section>
<h2 class="h2">Available Rewards</h2>
<section class="feed-container">
    <div class="card" *ngFor="let card of avail_cards">
        <div class="container">
            <div class="points">
                <span>{{card.points}} pts.</span>
            </div>
            <button class="button">Redeem</button>
            <h3>{{card.business}}</h3>
            <p>{{card.description}}</p>
            <p>${{card.value}} value</p>
        </div>
    </div>
</section>