<section class="title-container">
    <h1>Rewards</h1>
    <p>Track your rewards and view available coupons. <br>
    You have {{points}} points.
    </p>

</section>
<h2>My Rewards</h2>
<section class="feed-container">
    <div class="card" *ngFor="let card of my_cards">
        <div class="container">
            <div class="points">
                <p>{{card.points}} pts.</p>
            </div>
            <h3>{{card.business}}</h3>
            <p>{{card.description}}</p>
            <p>${{card.value}} value</p>
        </div>
    </div>
</section>
<h2>Available Rewards</h2>
<section class="feed-container">
    <div class="card" *ngFor="let card of avail_cards">
        <div class="container">
            <div class="points">
                <p>{{card.points}} pts.</p>
            </div>
            <h3>{{card.business}}</h3>
            <p>{{card.description}}</p>
            <p>${{card.value}} value</p>
            <div class="buy">
                <button class="button">Redeem</button>
            </div>
        </div>
    </div>
</section>