<section class="title-container">
  <h1>Community Service Events</h1>
</section>

<section class="search-container">
  <div class="search">
    <span class='glyphicon glyphicon-search'></span>
    <input type="text" placeholder="Search..." [(ngModel)]="search"/>
  </div>
</section>

<section class="feed-container">
  <div class="card" *ngFor="let card of cards">
    <div class="container">
      <div class="points">
        <p>{{card.points}} pts.</p>
      </div>
      <div class="join">
        <p>Join</p>
      </div>
      <h2>{{card.name}}</h2>
      <p>{{card.date}}</p>
      <p>{{card.time}}</p>
      <a href="">{{card.location}}</a>
    </div>
  </div>
</section>
