<section class="title-container">
  <h1>Community Service Events</h1>
</section>

<section class="search-container">
  <div class="search">
    <span class='glyphicon glyphicon-search'></span>
    <input type="text" [(ngModel)]="searchInput" (ngModelChange)="filterItems()" placeholder="Search..."/>
  </div>

  <div class="filter">
    <nav>
      <span>Filter by:</span>
      <a (click)="filterBy('popular')">Popular</a> | 
      <a (click)="filterBy('upcoming')">Upcoming</a>
    </nav>
  </div>
</section>

<section class="feed-container">
  <div class="card" *ngFor="let card of items" (click)="goToEvent(card)">
    <div class="container">
      <div class="points">
        <span>{{card.eventPoints}} pts.</span>
      </div>
      <div class="join">
        <p>Join</p>
      </div>
      <h2>{{card.eventName}}</h2>
      <div class="date">
        <span class='glyphicon glyphicon-calendar'></span>
        <p>{{card.eventDate}}</p>
      </div>
      <div class="time">
        <span class='glyphicon glyphicon-time'></span>
        <p>{{card.startTime}} - {{card.endTime}}</p>
      </div>
      <div class="location">
        <span class="glyphicon glyphicon-map-marker"></span>
        <p>{{card.eventLocation}}</p>
      </div>
    </div>
  </div>
</section>
