<section class="title-container">
    <h1>{{user_profile.firstName}} {{user_profile.lastName}}' Profile</h1>
</section>

<section class="profile-info">
    <div class="parent">
        <img src="./../../assets/profile_image.jpeg" class="image1">
        <img src="./../../assets/green_circle.png" class="image2">
        <h3 class="point_total">{{user_profile.pointsAvailable}}</h3>
        <p class="point_p">Points</p>
    </div>
    <div class="stats">
        <h4>Total money saved: ${{user_profile.saved}}</h4>
        <h4>Total points earned: {{user_profile.totalPoints}}</h4>
    </div>
</section>

<h2 class="h2">Registered Events</h2>
<section class="feed-container">
    <div class="card" *ngFor="let card of upcoming_items">
        <div class="container">
            <div class="points">
                <span>{{card.eventPoints}} pts.</span>
            </div>
            <h3>{{card.eventName}}</h3>
            <div class="date">
                <span class='glyphicon glyphicon-calendar'></span>
                <p>{{card.eventDate}}</p>
            </div>
            <div class="time">
                <span class='glyphicon glyphicon-time'></span>
                <p>{{card.startTime}} - {{card.endTime}}</p>
            </div>
            <div class="location">
                <span class="glyphicon glyphicon-map-marker"></span>
                <p>{{card.eventLocation}}</p>
            </div>
        </div>
    </div>
</section>

<h2 class="h2">Available Coupons</h2>
<section class="feed-container">
    <div class="card" *ngFor="let card of my_cards">
        <div class="container">
            <div class="points">
                <span>{{card.redeemPoints}} pts.</span>
            </div>
            <button class="button">Activate</button>
            <h3>{{card.name}}</h3>
            <p>{{card.offer}}</p>
            <p>${{card.value}} value</p>
        </div>
    </div>
</section>